<div class="row">
  <div class="col-md-2 panel">

  </div>
  <div class="col-md-10 cards-container">
    <h2>Your Moods</h2>
    <h3>Add Mood <%= link_to new_mood_path, class: "btn btn-success" do %>
    <i class="glyphicon glyphicon-plus"></i><% end %></h3>
    <%= render 'cards' %>
  </div>
</div>
