<div class="row container-fluid">
  <div class="col-md-12 col-xs-11" id="search-container">
    <div id="search-widget">
      <h3 class="center">I'm in the mood for</h3>
      <%= render "search_bar" %>
    </div>
  </div>
</div>

<% @resturants.each do |resturant| %>
<p><%= resturant.name %></p>
<% end %>
