<form class="yelp col s12 m6">
  <div class="row">
    <div class="input-field col s12">
      <input id="query" name="search" type="text" class="valign">
      <label for="search">Cake</label>
    </div>
  </div>
</form>
