<div class="row container-fluid">
  <div class="col-md-12 col-xs-12" id="search-container">
    <div id="search-widget">
      <h3 class="center">I'm in the mood for</h3>
      <%= render "search_bar" %>
    </div>
  </div>
</div>
