@import "font-awesome"
@import "materialize/components/color"
$primary-color: color("blue", "lighten-2") !default
@import "materialize"
@import "emojione"

body
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex: 1 0 auto

footer.page-footer
  padding-top: 0

.quesiton-wrapper
  height: 100vh
  margin: 10px 0

.login
  padding: 40px 10px
  height: 100vh
  margin: 0

  .login-content
    padding-top: 170px

    h2
      margin: 50px 0

li.collection-item
  border: none
  color: black
  .row
    margin-bottom: 0

.slide
  display: block
  top: 10
  transition: top 1s linear

.panel
  text-align: center
  padding-top: 40px !important

.card
  .btn
    padding: 0 1.8rem
